.projects-container{
    width: 100%;
    min-height: 25rem;
    background: rgb(238, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.projects-container p{
    padding: 0 15px;
    text-align: left;
    color: rgb(95, 33, 4);
}

.projects-listing-container{
    min-height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

h1{
    margin-bottom: 2rem;
}


.each-project-container{
    width: 20rem;
    min-height: 23rem;
    border-radius: 25px;
    background: rgb(249, 250, 249);
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(138, 137, 137, 0.19);
}

@media(min-width :760px){
    .projects-listing-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
     .each-project-container{
         width: 20rem;
         margin: 15px;
     }
}

@media(min-width :960px){
     .each-project-container{
         width: 25rem;
         margin: 2rem;
     }
}

@media(min-width :1200px){
    .projects-listing-container{
        width: 80%;
    }
}
