.about-container{
    width: 100%;
    min-height: 25rem;
    background: rgb(247, 234, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

h1, h3{
    color: rgb(107, 106, 106);
    font-size: 1.5rem;
    border-bottom: 2px solid salmon;
    padding-bottom: 2px;
}

h3{
  font-size: 1rem;
  border: none;
}

h4{
    color: rgb(214, 112, 22);
}

.style-word-span{
    color: orangered;
    font-size: 1.9rem;
}

.about-information {
    width: 90%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 15px 0;
}



@media(min-width : 960px){
    .about-information{
        width: 70%;
        align-items: center;
    }

    .about-container{
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
    }

}
