.homepage-container{
    width: 100%;
    min-height: 90vh;
    margin: 0;
    margin-top: 10vh;
    background: url('./asset/home_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.rubberBand{
    width: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
}
.homepage-details{
    height: 20rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.homepage-image{
   width: 180px;
   min-height: 180px;
   border: 3px solid saddlebrown;
   border-radius: 50%;
   overflow: hidden;
   background: rgb(53, 53, 53);
   background : transparent;
  
}

 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last-name{
    color: orangered;
}
