nav{
    width: 100%;
    height: 10vh;
    background: rgb(12, 12, 12);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 3;
}

.nav-links-container{
    background : rgb(46, 45, 45);
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}