.footer-container{
    width: 100%;
    min-height: 7rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.social-medias-container{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

small{
    color: rgb(241, 64, 44);
    font-weight: 600;
    margin-top: 1rem;
}

@media(min-width :720px){
    .social-medias-container{
        width: 70%;
    }
}

@media(min-width :1200px){
     .social-medias-container{
         width: 50%;
     }
}