*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body{
    width: 100%;
    min-height: 100%;
}
body{
   font-family: 'Montserrat', serif;
   font-size: 1rem;
   overflow-x: hidden;
}