*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body{
    width: 100%;
    min-height: 100%;
   overflow-x: hidden;
}
body{
   font-family: 'Montserrat', serif;
   font-size: 1rem;
}

.main-contents-container{
    width: 100%;
}

.App{
    display: flex;
    justify-content: center;
}


@media(min-width :1300px){
    .main-contents-container{
        width: 1300px;
    }
}